@use "../../styles/sizes.module.scss" as sizes;
.section{ 
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  margin-top: sizes.$header-height;
  padding: 10px 0;
}

.containerCards{
  display: flex; 
  gap: 20px; 
  flex-wrap: wrap;
  width: 67vw;
  max-width: 1060px;
}