$color-primary:#ff8310;
$color-primary-30-opacity:#ff831030;
$color-white:#fff;
$color-dark:#191a20;
$color-black-60-opacity:#00000060;
$color-light:#ccc;
$color-gray:#393939;
$color-background:#232323; 
$color-background-light:#2b2b2b; 