$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;

$line-height-xs: 1rem;
$line-height-sm: 1.25rem;
$line-height-md: 1.5rem;
$line-height-lg: 1.75rem;
$line-height-xl: 1.75rem;

$header-height: 60px;