@use '../../styles/palette.module.scss' as palette;
@use '../../styles/radius.module.scss' as radius;

.card{
  background-color: palette.$color-dark;
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  gap: 15px;
  border-radius: radius.$default;
}
