@use "../core/aplication/interfaces/styles/palette.module.scss" as palette;
@use "../core/aplication/interfaces/styles/sizes.module.scss" as sizes;

.copyRight{
  width: 100%;
  text-align: center;
  color: palette.$color-gray;
  font-weight: bold;
  font-size: sizes.$font-md;
  padding: 20px;
}