@use "../presenters//styles/palette.module.scss" as palette;
@use "../presenters//styles/sizes.module.scss" as sizes;
.copyRight{
  width: 100%;
  text-align: center;
  color: palette.$color-gray;
  font-weight: bold;
  font-size: sizes.$font-md;
  padding: 20px;
}